@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}
#background-img {background-color: rgb(253, 189, 189);}
.title {
    padding: 20px;
    border-bottom: 2px dashed black;
}
.second-row-containers {
    background-color: rgb(177, 84, 84);
    margin: 20px;
    display: grid;
    grid-auto-flow: column;
    border: 2px solid black;
    border-radius: 15px;
}
.image-caption {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.img-vid, .image-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    height: auto;
}
.image-caption > img {
    border: 15px groove black;
    box-shadow: 5px 5px 8px #000000;
}
figcaption {padding-top: 15px;}
figcaption > img {
    position: relative;
    top: 10px;
    width: 30px;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
    border-left: 2px solid black;
    font-weight: bold;
    line-height: 2em;
}
#click-button {
    display: block;
    font-size: 1.7rem;
    line-height: 1.2em;
    cursor: pointer;
}
.footer {
    border-top: 2px dashed black;
    padding: 20px;
    margin-top: 30px;
}
.footer a {
    background-color: #dabc94;
    border: 2px solid black;
    border-radius: 15px;
    padding: 5px 20px;
    text-decoration: none;
}
.footer a:link {background-color: rgb(255, 132, 255);}
.footer a:visited {background-color: #dabc94;}
.footer a:hover:nth-child(1) {background-color: #fbae49;}
.footer a:hover:nth-child(2) {
    background-color: #8c00ff;
    color: rgb(216, 216, 216);
}
.footer a:active:nth-child(n) {
    background-color: black;
    color: white;
}
.footer p {padding-top: 15px;}
@media (max-width: 768px) {
    .title {padding-top: 30px;}
    .second-row-containers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        font-size: 1.2rem;
    }
    .img-vid { border-bottom: 2px solid black;}
    /* the extra left border should not appear */
    .description {border-left: 0px !important;}
    .footer {text-align: center;}       /* center all contents of the footer div */
    .footer a {display: inline-block;}  /* center the button contents as inline-block */
}