body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#container > * {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link {
    background-color: rgb(147, 160, 255);
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    padding: 10px 110px;    /* hard-coded to fit the width of text1 and text2 (plus gap) */
    margin-top: 20px;
    cursor: pointer;
}
.link:hover {
    background-color: rgb(59, 82, 255);
    color: white;
}
.link:active {background-color: rgb(255, 66, 66);}