@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #202020;
}
html {
    scroll-behavior: smooth;
    scroll-padding: 7rem;
}
.banner {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    max-width: auto;
    align-items: center;
    padding: 7px 9px;
    background-color: #111111;
    z-index: 9999;
}
a:link {color: red;}
a:visited {color: red;}

#logo {
    width: 50px;
    border-radius: 100%;
    border: 0.3ch solid red;
}
.banner > i {visibility: hidden;}

.containers {
    display: flex;
    color: white;
}
.left-container {
    position: fixed;
    top: auto;
    left: 0;
    height: 100vh;
    width: 200px;
    border-right: 4px solid #171717;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.20;
    font-size: 14px;
    z-index: 9999;
    display: block; /*for larger monitors*/
    overflow-y: auto;
}
.content-links a {
    display: grid;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}
.content-links a:hover { 
    background-color: #4f2dfb;
    color: #f5f8fa;
}

.middle-container {
    flex: 1; /* Take up remaining space in the flex container */
    padding: 0 280px 0 200px; /* Update padding for better layout */
    font-family: 'Grandstander', cursive;
    font-size: 18px;
}
.message-container { 
    height: auto;
    color: black;
}
#frick {
    box-sizing: border-box;
    background-color: rgb(162, 79, 79);
    border: 3px dashed;
    padding: 8px;
    animation: border 0.15s infinite alternate;
}
/* change the title when resizing. >= 400px */
#frick h2::before { content: "What The Frick Is This";}
#frick h2, p, #special-message { 
    margin-top: 10px;
    background-color: rgb(162, 79, 79);
}
/* have the frick border blink instantaneously between two colours */
@keyframes border {
    0%, 49.99% { border-color: purple; }
    50%, 100% { border-color: white;}
}
#frick #special-message {
    padding-top: 10px;
    background-color: white;
    border: 3px solid blue;
    border-radius: 10px;
    margin-left: 0px;   /* default reset to align with above text */
    width: 305px;
    height: 100px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
#special-message audio { 
    padding: 0 10px;
    background-color: white;
} 
#audio-desc { 
    text-align: left;
    padding: 5px 15px 0 15px;
    background-color: white;
}
.title-underline, h2 { text-decoration: underline; }
.title-underline-header {padding-top: 15px;}
/* .article-container .indent {text-indent: 2em;} */
.indent p, #copyright { text-indent: 2em; }
@media (max-width: 420px) {
    /* change the title when resizing. < 400px */
    #frick h2::before { content: "What's this";}
}
#filian > p, #streaming > p, #quote > p, #facts > p, #img-vid > p {background-color: #202020;}
.article-container {
    padding: 10px 20px;
    line-height: 1.5;
}
#quote, #facts {padding-bottom: 15px;}
#box-of-quotes-container, #box-of-facts-container, .media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 15px;
    font-family: 'Grandstander', cursive;  
}
.quote-container, .fact-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    border-radius: 10px;
}
.quote-container .saying {background-color: #5b38db;}
.saying, .fact {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(98, 98, 98);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
/* alternate rows that applies to each container for that row */
.quote-container:nth-child(even) .saying:nth-child(n) {background-color: #fc6a6a;}
.fact > .voice-act {display: contents;}
/* copyright: copyright info, sns links */
#copyright { 
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-family: monospace;
    font-size: 12px;
}
/* note: moving the discord logo extends the hover area, please fix that to make it relative. */
#copyright img {
    margin-left: 10px;
    margin-bottom: -1vh;
}
@media (max-width: 1035px) {
    #copyright { font-size: 12px;}
}
.box-2 img { 
    position: relative;
    left: -20px;
    max-width: 100%;
    margin-top: 10px;
    background-color: white;
}
/* Apply styling to limit figure, figcaption, and image to 300px */
.media figure {
    max-width: 300px;
    margin: 0 auto; /* Center the figure if the width is less than 100% */
    display: inline-block;
    align-self: center;
}
.media img, .media video {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}
.media figcaption {
    max-width: 300px;
    margin: 0 auto; /* Center the figcaption if the width is less than 100% */
}

#table-container {
    position: fixed;
    top: auto;
    right: 0;
    width: 280px; /* Set the width of the right container */
    height: 100vh;
    border-left: 4px solid #171717;
    font-family: 'Grandstander', cursive;
    padding-right: 4px;
    font-size: 0.83rem;
}
#table-container table { 
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}
#table-container tr, figure {padding: 15px 0;}
.cell-radius { 
    border-radius: 5px;
    text-align: center;
    padding: 3px 0;
}
/* A to B instant transform */
#table-container #glowup:hover img { transform: rotate(-4deg) scale(1.05);}
/* A to B animate transition above */
#table-container img { 
    background-origin: border-box;
    transition: transform 0.07s ease-out;
    box-shadow: 3px 3px 5px #4a4848;
}
#table-container tr:hover { background-color: rgb(163, 147, 178);}
tbody a {color: red;}
#suika-div i {
    color: white;
    padding: 10px;
    font-size: 1.25rem;
}
#suika-div i:hover {filter: brightness(0.7);}
@media screen and (max-width: 825px) {
    .banner > i {
        visibility: visible;
        color: white;
        cursor: pointer;
    }
    .left-container.active {display: none;} /*define the active toggle for clicking the icon (none by default in mobile)*/
    .content-list > ul {list-style-type: none;}
    .middle-container {padding: 0;}
    .quote-container .saying {background-color: rgb(144, 144, 144);}
    .quote-container:nth-child(even) .saying:nth-child(n){
        margin: 0;
        background-color: rgb(144, 144, 144);
    }
    #table-container {display: none;}
}
